# Virtual Environment
.venv/
__pycache__/
*.pyc

# OS Files
.DS_Store

# Large Datasets
AIR CONDITIONER/
Microwave/
Refrigerator/
Television/
dataset/
dataset_cropped/

# Model Outputs
# (allowed to be uploaded)

# Environment Variables
.env
